$primary-color: #09BDD5;
$secondary-color: #00AF9D;

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body > * {
	font-family: 'Oswald', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.logo {
	width: 140px;
	position: relative;
	bottom: 122%;
	z-index: 4;
}

.media-object {
	width: 120px;
}

.media-heading  {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	> span {
		color: $secondary-color;
	}
	+ p {
		margin-top: 2em;
	}
}

.title-bar {
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin-bottom: 1em;
	margin-top: 1em;
	&.primary {
		background: $primary-color;
	}
	&.secondary {
		background: $secondary-color;
	}
}

.search-bg {
	background: #DAF3FF;
	color: $secondary-color;
	padding: 9.4em 0;

	> input {
		height: 64px;
		width: 65%;
		border: 1px solid $primary-color;
		padding-left: 1em;
		font-style: italic;
	}
	button {
		font-weight: bold;
		height: 64px;
		color: white;
		background: $secondary-color;
		border: none;
		padding: 0 4em;
		font-size: 16px;
	}
}

.sidebar {
	background: #DDD;
	padding: 1em;
	h4 {
		margin-top: 0;
	}
}

.sidebar-title {
	color: $secondary-color;
}

.btn-sidebar {
	color: white !important;
	font-size: 16px !important;
	font-weight: bold !important;
	background: $secondary-color !important;
	border-radius: 0 !important;
	padding: 1em 2em !important;
	border-color: transparent !important;
	outline: none;
}

.bg-on-small {
	@media (max-width: 768px) {
		background: #DDD;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.navbar-header, .navbar-collapse, .navbar-default {
	background: $primary-color !important;
	a {
		color: white !important;
	}
}

.no-pad {
	padding: 0 2em !important;
}

.movie-poster {
	margin-top: 20px;
}

p {
	font-family: arial;
}